<div class="content-continer" id="about-container">
    <div class="about-content-container">
        <div class="about-content">
            <h4>The story about MensWear</h4>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus repudiandae ea, reiciendis voluptatum
                voluptatem asperiores ratione sit quidem consequuntur itaque placeat velit voluptates blanditiis nihil
                sequi dolor error odio nisi fugiat rem mollitia. Maiores officiis obcaecati dicta doloremque, cum
                aspernatur id sapiente debitis. Laborum deserunt rerum ipsum labore veniam nostrum.</p>
            <p>Maxime nisi debitis quos sunt quod? Autem accusantium suscipit inventore? Nemo, natus necessitatibus illo
                aliquid praesentium, facere sed minus omnis odit magni autem esse aperiam similique consequatur. Cumque
                culpa similique expedita voluptatum, illum temporibus soluta laudantium quos consectetur veniam
                provident cupiditate repudiandae.</p>
        </div>
    </div>
    <div class="about-img" data-rellax-speed="-4">
        <img src="/assets/images/about/about-img.jpg" alt="about">
    </div>
</div>