#featured-products-container {
  background-color: #f0f0f0;
  margin-top: 70px;
  padding: 70px calc(var(--main-container-spaces) / 2) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#featured-products-title {
  text-transform: uppercase;
  letter-spacing: 0.15em;
}
#featured-product-carousel {
  padding: 70px 0;
  width: 100%;
  position: relative;
  z-index: 1;
}
#carousel-control-prev-btn img,
#carousel-control-next-btn img {
  width: 100%;
  height: 100%;
}
#carousel-control-prev-btn,
#carousel-control-next-btn {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
}
#carousel-control-prev-btn {
  transform: translate(0, -50%);
}
#carousel-control-next-btn {
  left: 100%;
  transform: translate(-100%, -50%);
}
.owl-carousel {
  width: calc(100% - 80px) !important;
  margin: 0 auto;
}
.product-item {
  background-color: #fff;
  color: #000;
  width: calc((100% - 88px));
  padding: 10px 10px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  cursor: pointer;
}
.product-image {
  position: relative;
  z-index: 1;
}
.product-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding-bottom: 10px;
  z-index: 5;
}
.quick-view-message > p {
  margin: 0;
  padding: 0;
}
.quick-view-message {
  display: block;
  width: 100%;
  background-color: #fff;
  opacity: 0.8;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
  padding: 15px 0;
  position: absolute;
  bottom: -100%;
  transition: all 0.2s linear;
}
.product-item:hover > .product-image > .quick-view-message {
  bottom: 0%;
}
.product-name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  letter-spacing: 0.1em;
  padding-top: 20px;
}
.product-price {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding-top: 20px 0;
  margin: 0;
}

.shop-all-btn {
  color: var(--link-hover);
  border-color: var(--link-hover);
  margin-bottom: 40px;
}
.shop-all-btn:hover,
.shop-all-btn:focus,
.shop-all-btn:active {
  color: #fff;
}
#categories {
  padding: 70px 0 10px;
}
