#featured-products-container {
  background-color: #f0f0f0;
  margin-top: 70px;
  padding: 70px calc(var(--main-container-spaces) / 2) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#featured-products-title {
  text-transform: uppercase;
  letter-spacing: 0.15em;
}
#featured-product-carousel {
    padding: 70px 0;
    width: 100%;
}
#carousel-control-prev-btn {

}
#carousel-control-next-btn img {
  width: 20px;
  height: 20px;
  color: #fff;
}
.product-item {
  background-color: #fff;
  width: calc((100% - 88px));
  padding: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  letter-spacing: 0.1em; 
  padding-top: 20px;   
}
.product-price {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding-top: 20px 0;
  margin: 0;
}

.shop-all-btn {
    color: var(--link-hover);
    border-color: var(--link-hover);
    margin-bottom: 40px;
}
.shop-all-btn:hover,
.shop-all-btn:focus,
.shop-all-btn:active {
    color: #fff;
}
#categories {
    padding: 70px 0 10px;
}