<div class="footer-container">
    <div class="main-info">
        <div class="bottom-nav-container">
            <app-bottom-bar></app-bottom-bar>
        </div>
        <div class="our-address">
            <p>00 Terry Francois St.</p>
            <p>San Francisco, CA 94158</p>
            <br>
            <p>Email : info@my-domain.com</p>
            <p>Tel : 1-800-000-0000</p>
        </div>
        <div class="faq-and-social-media">
            <nav class="navbar-bottom navbar-expand navbar-light">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]='["/home"]'>Shipping & Returns</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">FAQ</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="social-media">
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>

    <div class="subscribe-and-copyright">
        <div class="subscribe-and-copyright-content">
            <p>Receive all our news and updates</p>
            <form action="">
                <input type="email" placeholder="Email Address*" id="email-address-input">
                <input type="submit" value="Subscribe Now" id="subscribe-form-submit-btn" >
            </form>
            <br>
            <p id="copyright"><i class="fa fa-copyright" aria-hidden="true"></i> 2021 by MensWear.</p>
        </div>
    </div>
</div>
