@import "~bootstrap/dist/css/bootstrap.css";
/* You can add global styles to this file, and also import other style files */
* {
  --bg-color: #f8f9fa;
}
.content-container {
  width: calc(100% - 80px);
  margin: 0 auto;
}
#content {
  background-color: var(--bg-color);
}
