<nav class="navbar navbar-expand navbar-light bg-light px-5">
    <div class="container-fluid">
        <a class="navbar-brand mt-0 d-flex flex-column align-items-center" href="#">
            <img src="/assets/images/site-logo.png" height="30" alt="" loading="lazy" />
            <span class="px-1 small">MensWear</span>
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Store</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">My orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="sign-in-btn d-flex align-items-center text-decoration-none pe-3">
                        <i class="fa fa-user-circle h4 m-0" aria-hidden="true"></i>
                        <span class="p-2">Sign In</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="text-reset me-3 position-relative d-flex flex-column align-items-center" href="#"
                        style="height: 40px;">
                        <div class="border-dark border rounded-circle" style="height: 20px; width: 13px;"></div>
                        <div class="border border-dark position-absolute bg-white text-brown d-flex align-items-center justify-content-center"
                            style="height: 20px; width: 25px; top: 10px;">
                            <span>0</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>






        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>

        </button>

    </div>
</nav>